@using WebSurvey.Models.Survey
@model SurveyStatistics
@{
    ViewData["Title"] = Model.Name;
}

<script>
    function TogglePassword()
    {
        var input = document.getElementById('password');

        if (input.type === 'password')
        {
            input.type = 'text';
        }
        else
        {
            input.type = 'password';
        }
    }
</script>

<h1 class="text-center">Информация об опросе #@Model.Id</h1>
<span style="white-space: pre-line">Название: <b>@Model.Name</b>
    Описание: <b>@Model.Description</b>
    Тип опроса:
</span>
<ul>
    @if (Model.IsPassworded)
    {
        <li><b>Запароленный</b></li>
    }
    else
    {
        <li><b>Публичный</b></li>
    }

    @if (Model.IsAnonimous)
    {
        <li><b>Анонимный</b></li>
    }
    else
    {
        <li><b>Стандартный</b></li>
    }

    @if (Model.IsOneOff)
    {
        <li><b>Одноразовый</b></li>
    }
    else
    {
        <li><b>Многоразовый</b></li>
    }
</ul>
<span style="white-space: pre-line">Был пройден пользователями платформы <b>@Model.TakenCount @WordHelp.Inflect(Model.TakenCount,"раз","раз","раза")</b></span>
<hr />
@if (Model.IsPassworded)
{
    <form method="post">
        <div class="container">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Пароль</span>
                    </div>
                    <input asp-for="Password" type="password" id="password" class="form-control" aria-label="Default">
                    <div class="input-group-prepend">
                        <a onmouseover="TogglePassword()" onmouseout="TogglePassword()" class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></a>
                    </div>
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-check2"></i> Пройти</button>
                    </div>
                </div>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </form>
}
else
{
    <a asp-controller="Survey" asp-action="Take" asp-route-SurveyId="@Model.Id" class="btn btn-outline-primary"><i class="bi bi-check2"></i> Пройти</a>
}