@using WebSurvey.Models.ViewModel
@model SurveyStatistics
@{
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center">Информация об опросе</h1>
<p>Название: <b>@Model.Name</b></p>
<p>Описание: <b>@Model.Description</b></p>
<p>Был пройден пользователями платформы <b>@Model.TakenCount @WordHelp.Inflect(Model.TakenCount,"раз","раз","раза")</b></p>
<hr />
<a asp-controller="Survey" asp-action="Take" asp-route-id="@Model.Id" class="btn btn-outline-primary">Пройти</a>