@using WebSurvey.Models.ViewModel
@model SurveyResult
@{
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center">@Model.Name</h1>
<form method="post">
    @for (int i = 0; i < Model.Questions.Count(); i++)
    {
        <b>Вопрос #@(i+1): @Model.Questions[i].Name</b>
        <div class="row container">
            @switch (Model.Questions[i].Type)
            {
                case WebSurvey.Models.Database.QuestionType.Text:
                    if (Model.Results[i] != null)
                    {
                        @Html.TextAreaFor(m => m.Results[i].TextAnswer);
                    }
                    else
                    {
                        @Html.TextAreaFor(m => m.Results[i].TextAnswer);
                    }
                    break;
                case WebSurvey.Models.Database.QuestionType.Radio:
                    foreach (SurveyQuestionOption option in Model.Questions[i].Options)
                    {
                        <div class="form-check">
                            <input asp-for = "Results[i].TextAnswer" class="form-check-input" type="radio" value = "@option.Text">
                            <label class="form-check-label">@option.Text</label>
                        </div>
                    }
                    break;
                case WebSurvey.Models.Database.QuestionType.Check:
                foreach (SurveyQuestionOption option in Model.Questions[i].Options)
                    {
                        <div class="form-check">
                            <input name = "Results[@i].CheckAnswers" class="form-check-input" type="checkbox" value = "@option.Text">
                            <label class="form-check-label">@option.Text</label>
                        </div>
                    }
                    break;
            }
        </div>
    }
    <button type = "submit" class = "btn btn-outline-primary">Отправить результаты</button>
</form>