@using WebSurvey.Models.Voting
@model IEnumerable<VotingStatistics>
@{
    ViewData["Title"] = "Мои голосования";
}

<h2>@ViewData["Title"]</h2>
<hr>

@if (Model.Count() > 0)
{
    @foreach (VotingStatistics votingStat in Model)
    {
        <div class="container">
            <h5><a class="link" asp-controller="Voting" asp-action="Status" asp-route-Id="@votingStat.Id">@votingStat.Name</a></h5>
            <div class="row col-12">
                <div class="col-3">
                    <h6>Номер: #@votingStat.Id <a class = "btn btn-outline-primary btn-sm" onclick = "CopyClip(@votingStat.Id)"><i class="bi bi-clipboard-check"></i></a></h6>
                </div>
                <div class="col-3">
                    <h6>Создано: @votingStat.CreatedTime.ToString("dd.MM.yyyy")</h6>
                </div>
                <div class="col-3">
                    <h6>Опций: @votingStat.OptionCount</h6>
                </div>
                <div class="col-3">
                    <h6>Голосов: @votingStat.TakenCount</h6>
                </div>
            </div>
            <div class="text-end">
                <a class="btn btn-outline-primary" asp-controller = "Voting" asp-action = "Results" asp-route-Id = "@votingStat.Id"><i class="bi bi-list-check"></i>Результаты</a>
                <a class="btn btn-outline-info" asp-controller = "Voting" asp-action = "Statistics" asp-route-Id = "@votingStat.Id"><i class="bi bi-graph-up"></i>Статистика</a>
                @if (votingStat.IsClosed)
                {
                    <a class="btn btn-outline-success" asp-controller = "Voting" asp-action = "Open" asp-route-Id = "@votingStat.Id"><i class="bi bi-door-open"></i>Открыть</a>
                }
                else
                {
                    <a class="btn btn-outline-warning" asp-controller = "Voting" asp-action = "Close" asp-route-Id = "@votingStat.Id"><i class="bi bi-door-closed"></i>Закрыть</a>
                }
                <a class="btn btn-outline-danger" asp-controller = "Voting" asp-action = "Delete" asp-route-Id = "@votingStat.Id"><i class="bi bi-trash"></i>Удалить</a>
            </div>
        </div>
        <hr>
    }
}
else
{
    <h5>Вы пока не создали ни одного голосования.</h5>
}