@using WebSurvey.Models.ViewModel
@using WebSurvey.Models.Voting
@model VotingStatistics
@{
    ViewData["Title"] = Model.Name;
}

<script>
    function TogglePassword()
    {
        var input = document.getElementById('password');

        if (input.type === 'password')
        {
            input.type = 'text';
        }
        else
        {
            input.type = 'password';
        }
    }
</script>

<h1 class="text-center">Информация о голосовании</h1>
<p>Название: <b>@Model.Name</b></p>
<p>Описание: <b>@Model.Description</b></p>
@if (Model.IsPassworded)
{
    <p>Тип опроса: <b>Запароленный</b></p>
}
else
{
    <p>Тип опроса: <b>Публичный</b></p>
}
<p>Был пройден пользователями платформы <b>@Model.TakenCount @WordHelp.Inflect(Model.TakenCount,"раз","раз","раза")</b></p>
<hr />
@if (Model.IsPassworded)
{
    <form method="post">
        <div class="container">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Пароль</span>
                    </div>
                    <input asp-for="Password" type="password" id="password" class="form-control" aria-label="Default">
                    <div class="input-group-prepend">
                        <a onmouseover="TogglePassword()" onmouseout="TogglePassword()" class="btn btn-outline-secondary">👁️</a>
                    </div>
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-outline-secondary">Проголосовать</button>
                    </div>
                </div>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </form>
}
else
{
    <a asp-controller="Voting" asp-action="Take" asp-route-VotingId="@Model.Id" class="btn btn-outline-primary">Проголосовать</a>
}