@using WebSurvey.Models.ViewModel
@using WebSurvey.Models.Voting
@model VotingStatistics
@{
    ViewData["Title"] = Model.Name;
}

<script>
    function TogglePassword()
    {
        var input = document.getElementById('password');

        if (input.type === 'password')
        {
            input.type = 'text';
        }
        else
        {
            input.type = 'password';
        }
    }
</script>

<h1 class="text-center">Информация о голосовании #@Model.Id</h1>
<span style="white-space: pre-line">
    Название: <b>@Model.Name</b>
    Описание: <b>@Model.Description</b>
    @if (Model.IsPassworded)
    {
        <span>Тип опроса: <b>Запароленный</b></span>
    }
    else
    {
        <span>Тип опроса: <b>Публичный</b></span>
    }
    Был пройден пользователями платформы <b>@Model.TakenCount @WordHelp.Inflect(Model.TakenCount,"раз","раз","раза")</b>
</span>
<hr />
@if (Model.IsPassworded)
{
    <form method="post">
        <div class="container">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Пароль</span>
                    </div>
                    <input asp-for="Password" type="password" id="password" class="form-control" aria-label="Default">
                    <div class="input-group-prepend">
                        <a onmouseover="TogglePassword()" onmouseout="TogglePassword()" class="btn btn-outline-secondary"><i class="bi bi-eye-fill"></i></a>
                    </div>
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-check2"></i> Проголосовать</button>
                    </div>
                </div>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </form>
}
else
{
    <a asp-controller="Voting" asp-action="Take" asp-route-VotingId="@Model.Id" class="btn btn-outline-primary"><i class="bi bi-check2"></i> Проголосовать</a>
}